@font-face {
  font-family: "OpenSans";
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans";
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
  font-weight: 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: OpenSans, Arial, Sans-serif;
  color: inherit;
}

a {
  text-decoration: none;
}

ul > li {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main_header {
  color: #ffffff;
  text-align: center;
}

.main_header::after {
  content: "";
  position: absolute;
  background-color: #000000;
  opacity: 0.6;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-width: 360px) and (max-width: 640px) {
  .wrapper {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .header {
    margin-bottom: 40px;
    min-height: 640px;

    background-image: url("./img/banner-bg-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #30383a; */

    position: relative;
    z-index: 0;
  }

  .header_nav {
    padding-bottom: 172px;
  }

  .logo {
    min-width: 270px;
    padding-bottom: 43px;
    display: block;
  }
}
